In [1]:
import pandas as pd
import numpy as np 
import os
import matplotlib as plt
poblacion_df = pd.read_csv("C:/Users/marco/Desktop/Desarrollos/Analisis y visualizacion de datos/ARCHIVOS/poblacion.csv", encoding = "latin-1 ")
hogares_viviendas_df = pd.read_csv("C:/Users/marco/Desktop/Desarrollos/Analisis y visualizacion de datos/ARCHIVOS/hogares_viviendas_superficie.csv", encoding = "latin-1")
poblacion_df

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres
0,Total País,2010,40788453,19940704,20847749
1,Total País,2011,41261490,20180791,21080699
2,Total País,2012,41733271,20420391,21312880
3,Total País,2013,42202935,20659037,21543898
4,Total País,2014,42669500,20896203,21773297
...,...,...,...,...,...
770,Tierra del Fuego,2036,241593,122567,119026
771,Tierra del Fuego,2037,245734,124625,121109
772,Tierra del Fuego,2038,249853,126670,123183
773,Tierra del Fuego,2039,253948,128702,125246
774,Tierra del Fuego,2040,258020,130721,127299

In [9]:
poblacion_df = poblacion_df[poblacion_df['provincia'] != 'Total Pais']
poblacion_df

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres
0,Total País,2010,40788453,19940704,20847749
1,Total País,2011,41261490,20180791,21080699
2,Total País,2012,41733271,20420391,21312880
3,Total País,2013,42202935,20659037,21543898
4,Total País,2014,42669500,20896203,21773297
...,...,...,...,...,...
770,Tierra del Fuego,2036,241593,122567,119026
771,Tierra del Fuego,2037,245734,124625,121109
772,Tierra del Fuego,2038,249853,126670,123183
773,Tierra del Fuego,2039,253948,128702,125246
774,Tierra del Fuego,2040,258020,130721,127299

In [11]:
poblacion_df_densidad = pd.merge(poblacion_df, hogares_viviendas_df, left_on = ["provincia"], right_on = ["provincia"], how = 'left')
poblacion_df_densidad

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres,provincia_id,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2
0,Total País,2010,40788453,19940704,20847749,NaN,NaN,NaN,NaN,NaN
1,Total País,2011,41261490,20180791,21080699,NaN,NaN,NaN,NaN,NaN
2,Total País,2012,41733271,20420391,21312880,NaN,NaN,NaN,NaN,NaN
3,Total País,2013,42202935,20659037,21543898,NaN,NaN,NaN,NaN,NaN
4,Total País,2014,42669500,20896203,21773297,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
770,Tierra del Fuego,2036,241593,122567,119026,94.0,38956.0,43360.0,36689.0,1002445.0
771,Tierra del Fuego,2037,245734,124625,121109,94.0,38956.0,43360.0,36689.0,1002445.0
772,Tierra del Fuego,2038,249853,126670,123183,94.0,38956.0,43360.0,36689.0,1002445.0
773,Tierra del Fuego,2039,253948,128702,125246,94.0,38956.0,43360.0,36689.0,1002445.0
774,Tierra del Fuego,2040,258020,130721,127299,94.0,38956.0,43360.0,36689.0,1002445.0

In [13]:
poblacion_df_densidad_sin_nan = poblacion_df_densidad.dropna()
c

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres,provincia_id,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2
31,Capital Federal,2010,3028481,1405566,1622915,2.0,1150134.0,1423973.0,1082998.0,200.0
32,Capital Federal,2011,3033639,1409835,1623804,2.0,1150134.0,1423973.0,1082998.0,200.0
33,Capital Federal,2012,3038860,1414105,1624755,2.0,1150134.0,1423973.0,1082998.0,200.0
34,Capital Federal,2013,3044076,1418339,1625737,2.0,1150134.0,1423973.0,1082998.0,200.0
35,Capital Federal,2014,3049229,1422507,1626722,2.0,1150134.0,1423973.0,1082998.0,200.0
...,...,...,...,...,...,...,...,...,...,...
770,Tierra del Fuego,2036,241593,122567,119026,94.0,38956.0,43360.0,36689.0,1002445.0
771,Tierra del Fuego,2037,245734,124625,121109,94.0,38956.0,43360.0,36689.0,1002445.0
772,Tierra del Fuego,2038,249853,126670,123183,94.0,38956.0,43360.0,36689.0,1002445.0
773,Tierra del Fuego,2039,253948,128702,125246,94.0,38956.0,43360.0,36689.0,1002445.0
774,Tierra del Fuego,2040,258020,130721,127299,94.0,38956.0,43360.0,36689.0,1002445.0

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres
0,Total País,2010,40788453,19940704,20847749
1,Total País,2011,41261490,20180791,21080699
2,Total País,2012,41733271,20420391,21312880
3,Total País,2013,42202935,20659037,21543898
4,Total País,2014,42669500,20896203,21773297
...,...,...,...,...,...
770,Tierra del Fuego,2036,241593,122567,119026
771,Tierra del Fuego,2037,245734,124625,121109
772,Tierra del Fuego,2038,249853,126670,123183
773,Tierra del Fuego,2039,253948,128702,125246
774,Tierra del Fuego,2040,258020,130721,127299

In [15]:
poblacion_df_densidad

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres,provincia_id,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2
0,Total País,2010,40788453,19940704,20847749,NaN,NaN,NaN,NaN,NaN
1,Total País,2011,41261490,20180791,21080699,NaN,NaN,NaN,NaN,NaN
2,Total País,2012,41733271,20420391,21312880,NaN,NaN,NaN,NaN,NaN
3,Total País,2013,42202935,20659037,21543898,NaN,NaN,NaN,NaN,NaN
4,Total País,2014,42669500,20896203,21773297,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
770,Tierra del Fuego,2036,241593,122567,119026,94.0,38956.0,43360.0,36689.0,1002445.0
771,Tierra del Fuego,2037,245734,124625,121109,94.0,38956.0,43360.0,36689.0,1002445.0
772,Tierra del Fuego,2038,249853,126670,123183,94.0,38956.0,43360.0,36689.0,1002445.0
773,Tierra del Fuego,2039,253948,128702,125246,94.0,38956.0,43360.0,36689.0,1002445.0
774,Tierra del Fuego,2040,258020,130721,127299,94.0,38956.0,43360.0,36689.0,1002445.0

In [16]:
poblacion_df_densidad['densidad_poblacional'] = poblacion_df_densidad['poblacion_total'] / poblacion_df_densidad['superficie_km2']
poblacion_df_densidad

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres,provincia_id,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2,densidad_poblacional
0,Total País,2010,40788453,19940704,20847749,NaN,NaN,NaN,NaN,NaN,NaN
1,Total País,2011,41261490,20180791,21080699,NaN,NaN,NaN,NaN,NaN,NaN
2,Total País,2012,41733271,20420391,21312880,NaN,NaN,NaN,NaN,NaN,NaN
3,Total País,2013,42202935,20659037,21543898,NaN,NaN,NaN,NaN,NaN,NaN
4,Total País,2014,42669500,20896203,21773297,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
770,Tierra del Fuego,2036,241593,122567,119026,94.0,38956.0,43360.0,36689.0,1002445.0,0.241004
771,Tierra del Fuego,2037,245734,124625,121109,94.0,38956.0,43360.0,36689.0,1002445.0,0.245135
772,Tierra del Fuego,2038,249853,126670,123183,94.0,38956.0,43360.0,36689.0,1002445.0,0.249244
773,Tierra del Fuego,2039,253948,128702,125246,94.0,38956.0,43360.0,36689.0,1002445.0,0.253329
774,Tierra del Fuego,2040,258020,130721,127299,94.0,38956.0,43360.0,36689.0,1002445.0,0.257391

In [17]:
poblacion_df_densidad_sin_nan = poblacion_df_densidad.dropna()

In [18]:
poblacion_df_densidad_sin_nan

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres,provincia_id,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2,densidad_poblacional
31,Capital Federal,2010,3028481,1405566,1622915,2.0,1150134.0,1423973.0,1082998.0,200.0,15142.405000
32,Capital Federal,2011,3033639,1409835,1623804,2.0,1150134.0,1423973.0,1082998.0,200.0,15168.195000
33,Capital Federal,2012,3038860,1414105,1624755,2.0,1150134.0,1423973.0,1082998.0,200.0,15194.300000
34,Capital Federal,2013,3044076,1418339,1625737,2.0,1150134.0,1423973.0,1082998.0,200.0,15220.380000
35,Capital Federal,2014,3049229,1422507,1626722,2.0,1150134.0,1423973.0,1082998.0,200.0,15246.145000
...,...,...,...,...,...,...,...,...,...,...,...
770,Tierra del Fuego,2036,241593,122567,119026,94.0,38956.0,43360.0,36689.0,1002445.0,0.241004
771,Tierra del Fuego,2037,245734,124625,121109,94.0,38956.0,43360.0,36689.0,1002445.0,0.245135
772,Tierra del Fuego,2038,249853,126670,123183,94.0,38956.0,43360.0,36689.0,1002445.0,0.249244
773,Tierra del Fuego,2039,253948,128702,125246,94.0,38956.0,43360.0,36689.0,1002445.0,0.253329
774,Tierra del Fuego,2040,258020,130721,127299,94.0,38956.0,43360.0,36689.0,1002445.0,0.257391

In [19]:
poblacion_df_densidad_sin_nan['densidad_poblacional'].describe()

count      744.000000
mean       654.743585
std       3063.717821
min          0.131340
25%          4.424877
50%          9.406474
75%         20.322919
max      15437.170000
Name: densidad_poblacional, dtype: float64

In [20]:
poblacion_df_densidad_sin_nan['hogares'].describe()

count    7.440000e+02
mean     5.071531e+05
std      9.434949e+05
min      3.895600e+04
25%      1.369578e+05
50%      2.086070e+05
75%      3.701838e+05
max      4.789484e+06
Name: hogares, dtype: float64

In [21]:
poblacion_df

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres
0,Total País,2010,40788453,19940704,20847749
1,Total País,2011,41261490,20180791,21080699
2,Total País,2012,41733271,20420391,21312880
3,Total País,2013,42202935,20659037,21543898
4,Total País,2014,42669500,20896203,21773297
...,...,...,...,...,...
770,Tierra del Fuego,2036,241593,122567,119026
771,Tierra del Fuego,2037,245734,124625,121109
772,Tierra del Fuego,2038,249853,126670,123183
773,Tierra del Fuego,2039,253948,128702,125246
774,Tierra del Fuego,2040,258020,130721,127299

In [23]:
poblacion_df['poblacion_total'].describe()

count    7.750000e+02
mean     3.777746e+06
std      9.560571e+06
min      1.316610e+05
25%      5.845510e+05
50%      1.017731e+06
75%      1.855285e+06
max      5.277848e+07
Name: poblacion_total, dtype: float64